<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      
      <th scope="col">Số tiền</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
    </tr>
    
  </tbody>
</table>