<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
     <header>
      <div class="top">

        </div>
       
      </div>
      <div class="bottom">
        <div class="logo">
          <img src="/img/background2.png" alt="">
        </div>
        <ul>
          <a href="/"><li>HOME</li></a>
          <a href="/products"><li>SHOP</li></a>
          <a href="/aboutUs"><li>About us</li></a>
          <a href="/contact"><li>Contact</li></a>
          <a href="/location"><li>Location</li></a>
        </ul>
        <div class="search">
          <input class="search-txt" type="text" placeholder="Type to search" value="">
          <a class="search-btn" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
        <div class="icon">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				
        </div>
        	<a href="/admin"><i class="fa fa-cog" style="margin-right: 0px; margin: 15px 10px;
    color: #fff;
    font-size: 23px;
    align-items: center; position: absolute;right: 20px;"></i></a>
      </div>
    </header>
    <script>
      function myFunction(element, clr) {
          element.style.color = clr;
}
      function changeTxt() {
        document.getElementById('#radi1').checked;
        document.getElementById("txt1").innerHTML = "Paragraph changed!";
      }
    </script>
</body>
</html>