<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <div class="content">
     <div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>You can find out more information by contacting us for support</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIF.2fLwUA3mtqzMnrW7g8TMSQ?pid=ImgDet&rs=1" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Tom</h2>
        <p class="title">CEO & Founder</p>
        <p>Corporate executive in charge of managing an organization</p>
        <p>tom@example.com</p>
        <a class="button" href="/contact">Contact</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/R4afc6c031bc25c5d35868f975e084618?rik=IfHZ43Egm8nZlg&pid=ImgRaw" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike</h2>
        <p class="title">Development</p>
        <p>Based on designer's design to create a perfect website web</p>
        <p>mike@example.com</p>
         <a class="button" href="/contact">Contact</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.OMsgNbJYYquicx-RoRihFQHaEK?pid=ImgDet&w=1000&h=563&rs=1" alt="John" style="width:100%">
      <div class="container">
        <h2>John</h2>
        <p class="title">Designer</p>
        <p>Develop products according to design briefs and design website</p>
        <p>john@example.com</p>
        <a class="button" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</div>
  </div>
   
</body>
</html>