<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
        <div class="content">
            <div class="left">
               <div class="contact">
                   <div class="title">CONTACT US</div>
                   <form action="">
                       <div class="inputBox">
                           <label for="firstname" style="margin-left: 55px;margin-right: 155px;">firstname <span class="star">*</span></label>
                           <label for="lastname"  style="margin-right: 190px;">lastname <span class="star">*</span></label>
                           <input type="text" id="firstname" style="width: 38%; margin-right: 20px">
                           <input type="text" id="lastname"  style="width: 38%;">
                       </div>
                       <div class="inputBox">
                           <label for="email" style="margin-left: -430px;">email <span class="star">*</span></label><br>
                           <input type="text" id="email">
                       </div>
                       <div class="inputBox">
                           <label for="message" style="margin-left: -400px;">message <span class="star">*</span></label><br>
                           <input type="text" id="message">
                       </div>
                       <div class="inputBox">
                           <label for="add" style="margin-left: -450px;">add</label><br>
                           <textarea name="" id="" cols="30" rows="10"></textarea>
                       </div>
                       <button>SEND MESSAGE</button>
                   </form>
               </div>
            </div>
            <div class="right">
              <div class="title">How can we help?</div>
              <div class="text">Please select a topic below related to your inquiry.If you dont't find what need,fill out contact form</div>
              <div class="question">
                  <div class="box">
                      <h3>Book a demo</h3>
                      <p>Request a demo from one of out conversion</p>
                      <span></span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </div>
                  <div class="box">
                      <h3>Get inspired</h3>
                      <p>Request a demo from one of out conversion</p>
                      <span></span>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </div>
                  <div class="box">
                      <h3>Become the pather</h3>
                      <p>Request a demo from one of out conversion</p>
                      <span></span>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
        </div>
</body>
</html>